* {
  padding: 0rem;
  margin: 0rem;
}

ol,
ul {
  list-style-type: none;
  padding: 0px;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* child of body, from /Users/will/DevSeed/Personal/gpx_viz/public/index.html*/

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-primary {
  border: none;
  background: #67d27e;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.button-large {
  border-radius: 8px;
  padding: 16px 24px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: rgb(5, 101, 27);
}

.site-title {
  margin: 0 1rem;
  color: white;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.nav-item {
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.body-content {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.runs-block {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 1rem;
  gap: 1rem;
}

.runs-block-title {
  margin: 0;
}

.run-filters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* this part isn't great on small screens */
  justify-content: center;
  gap: 0rem 1rem;
  width: 15rem;
  height: 3rem;
  text-transform: uppercase;
}

.run-filters select {
  border-radius: 0.25rem;
  padding: 0.1rem;
  border-width: 2px;
  background-color: white;
}

.run-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-decoration: none;
}

.run-thumbnail {
  width: 100px;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.run-attributes {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 0 0 1rem;
}

.run-attributes .run-name {
  color: black;
  margin: 0rem;
}

.run-attributes .run-date {
  color: rgb(150, 150, 150);
  margin: 0rem;
}

/* I don't know how to do a "conditional class" (if that's a thing) so I had to repeat padding and border radius values */

.run-distance {
  align-self: flex-end;
  position: absolute;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem 0 0.5rem 0;
  right: 0px;
  color: white;
}

/* the space between defines a parent-child relationship */
.run-distance.short {
  background-color: green;
}

.run-distance.medium {
  background-color: orange;
}

.run-distance.long {
  background-color: darkred;
}

.map-block {
  display: flex;
  width: 66%;
  height: 100%;
  background-color: rgb(246, 246, 201);
  justify-content: space-around;
  align-items: center;
}

.background-box {
  width: 400px;
  margin: 32px 0px 0px 32px;
  padding: 16px 32px 16px 32px;
  background-color: #f3f1f1;
  box-shadow: 5px 5px 10px 5px #dadada;
}

.selected-runs-section {
  border-top: 1px dashed;
  border-color: grey;
}

.selected-runs-section p {
  margin: 8px 0px;
}

.run-list {
  margin: 10px 0px;
}

.run-link {
  background-color: #1e7f8f;
  border-radius: 2px;
  padding: 0px 4px;
  color: white;
  text-decoration: none;
}

.copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(5, 101, 27);
  height: 4rem;
  padding: 0 0 0 1rem;
  color: white;
}
